@tailwind base;
@tailwind components;
@tailwind utilities;

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800;900&display=swap');


body, html {
  background-color: #ffffff;
  color: black;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.primary-text{
  @apply text-[#015cb5]
}

.secondary-text{
  @apply text-[#fa8714]
}


.my-container{
  @apply max-w-7xl w-full px-8 md:px-5 lg:px-0 mx-auto
}

.active-link{
  @apply text-[#015cb5] font-bold
}
.link{
  @apply text-black font-bold
}


.primary-btn{
  @apply bg-[#015cb5] text-white font-semibold text-lg px-3 py-1 rounded-sm
}
.secondary-btn{
  @apply bg-[#015cb5] text-white font-semibold text-lg px-3 py-2 rounded-sm
}


.react-tabs__tab--selected {
  background-color: #0056d2;
  color: white;
  border: 4px solid #0056d2;

}